{% extends 'lessons/forms/lesson_form_base.html' %}

{% block lesson_header %}Update ESA Patchwork Lesson Plan {% endblock %}

{% block lesson_form_action_url %}{% url 'lessons:update_patchwork' pk=lesson.id %}{% endblock %}

<!-- Lesson plan type specfic fileds -->
{% block lesson_specific_fields %}

<!-- Engage -->
{% include 'lessons/forms/lesson_shared_fields/engage.html' %}

<!-- Review -->
{% include 'lessons/forms/lesson_shared_fields/review.html' %}

<!-- Activate -->
{% include 'lessons/forms/lesson_shared_fields/activate.html' %}

<!-- Activate 2 -->
{% include 'lessons/forms/lesson_shared_fields/activate2.html' %}

<!-- Study -->
{% include 'lessons/forms/lesson_shared_fields/study.html' %}

<!-- Engage 2 -->
{% include 'lessons/forms/lesson_shared_fields/engage2.html' %}

<!-- Activate 3 -->
{% include 'lessons/forms/lesson_shared_fields/activate3.html' %}

<!-- Wrap up -->
{% include 'lessons/forms/lesson_shared_fields/wrap_up.html' %}

{% endblock %}

