{% extends 'lessons/forms/lesson_form_base.html' %}

{% block lesson_header %}Update ESA Straight Arrow Lesson Plan {% endblock %}

{% block lesson_form_action_url %}{% url 'lessons:update_arrow' pk=lesson.id %}{% endblock %}


<!-- Lesson plan type specfic fileds -->
{% block lesson_specific_fields %}

<!-- Engage -->
{% include 'lessons/forms/lesson_shared_fields/engage.html' %}

<!-- Review -->
{% include 'lessons/forms/lesson_shared_fields/review.html' %}

<!-- Study -->
{% include 'lessons/forms/lesson_shared_fields/study.html' %}

 <!-- Activate -->
 {% include 'lessons/forms/lesson_shared_fields/activate.html' %}

<!-- Wrap up -->
{% include 'lessons/forms/lesson_shared_fields/wrap_up.html' %}

{% endblock %}

