{% extends 'base.html' %}

{% block title %}- Change Password{% endblock %}

{% block header %}
  <h1 class="header-title">Change Password</h1>
{% endblock %}


{% block content %}
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}

  <form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" class="btn" value="Change Password">
  </form>
{% endblock %}