{% extends "base.html" %}

{% block title %}- Home{% endblock %}

{% block header %}
  <h1 class="header-title">About Lesson Planner</h1>
{% endblock %}

{% block content %}
  <div class="about">
    <p>Lesson Planner is an application for faster lesson planning for ESL classes.</p>
    <p>Made for teachers by teachers</p>
    <p>This project is free and always in develepment so new features will roll out regularly</p>

    <h3>Current Features</h3>
    <ul class="collection">
      <li class="collection-item"><i class="material-icons">check</i> Basic account functionality: signup, login. logout, change password</li>
      <li class="collection-item"><i class="material-icons">check</i> Create, edit and delete new lesson plans</li>
      <li class="collection-item"><i class="material-icons">check</i> Filter lesson plans by tags</li>
      <li class="collection-item"><i class="material-icons">check</i> Filter lesson plans by books</li>
      <li class="collection-item"><i class="material-icons">check</i> Add YouTube video url and preview a video on lesson plan details page</li>
    </ul>
    <h3>Future Features</h3>
    <ul class="collection">
      <li class="collection-item"><i class="material-icons">check_box_outline_blank</i> WYSIWYG editor in lesson plan creation/editing form</li>
      <li class="collection-item"><i class="material-icons">check_box_outline_blank</i> Recommendations: On lesson creating form, pick tags to see recommended related activities or games</li>
      <li class="collection-item"><i class="material-icons">check_box_outline_blank</i> File uploads: upload worksheets, flashcards and other files</li>
      <li class="collection-item"><i class="material-icons">check_box_outline_blank</i> Templates: save lessons in .doc or .pdf</li>
      <li class="collection-item"><i class="material-icons">check_box_outline_blank</i> Custom templates: create your own templates with your name/school logo etc.</li>
      <li class="collection-item"><i class="material-icons">check_box_outline_blank</i> Reports: section for interactive and fast student reports creation</li>
      <li class="collection-item"><i class="material-icons">check_box_outline_blank</i> Games/Activities separate section: New section dedicated to classroom games/activities only</li>
      <li class="collection-item"><i class="material-icons">check_box_outline_blank</i> Comments: post comments lesson plans, activites</li>
      <li class="collection-item"><i class="material-icons">check_box_outline_blank</i> Advanced accounts: add personal info, avatar, list of favorite lesson plans/activities</li>
      <li class="collection-item"><i class="material-icons">check_box_outline_blank</i> Voting for games and activities: rate activities and help us find the best ones, save to favorites</li>
      <li class="collection-item"><i class="material-icons">check_box_outline_blank</i> Badges: Receive badges for created lesson plans or adding highly rated activities</li>
      <li class="collection-item"><i class="material-icons">check_box_outline_blank</i> Social auth: login with your social media account</li>
    </ul>
  </div>
{% endblock %}