<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Lesson Planner {% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <!-- Materialize CSS -->
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/materialize.css' %}">
  <!-- Custom styles -->
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/styles.css' %}">
  <!-- Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  {% block head %}{% endblock %}
</head>
<body>
  
  <main>
    <header>
  
      <nav>
        <div class="nav-wrapper">
          <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li> <a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'lessons:lesson_list' %}">Lessons</a></li>
            <li><a href="{% url 'lessons:tag_list' %}">Tags</a></li>
            <li><a href="{% url 'lessons:book_list' %}">Books</a></li>
            <li><a href="{% url 'games' %}">Games</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'lessons:by_user' username=user.username %}">My Lessons</a></li>
              <li><a href="{% url 'lessons:create' %}">Add Lesson Plan</a></li>
              <li><a href="{% url 'accounts:change_password' %}">Change Password</a></li>
              <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
            {% else %}
              <li><a href="{% url 'accounts:login' %}">Login</a></li>
              <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>

      <ul class="sidenav" id="mobile-demo">
        <li> <a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'lessons:lesson_list' %}">Lessons</a></li>
        <li><a href="{% url 'lessons:tag_list' %}">Tags</a></li>
        <li><a href="{% url 'lessons:book_list' %}">Books</a></li>
        <li><a href="{% url 'games' %}">Games</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'lessons:by_user' username=user.username %}">My Lessons</a></li>
          <li><a href="{% url 'lessons:create' %}">Add Lesson Plan</a></li>
          <li><a href="{% url 'accounts:change_password' %}">Change Password</a></li>
          <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'accounts:login' %}">Login</a></li>
          <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    
      
    </header>

    <div class="container">
      {% block header %}{% endblock %}

      {% block content %}{% endblock %}
    </div>

  </main>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">ESL Lesson Planner</h5>
          <p class="grey-text text-lighten-4"></p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li>
              <a class="grey-text text-lighten-3" href="https://github.com/denibulkashvili/LessonPlannerSocial">
                GitHub
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2019 ESL Lesson Planner
      </div>
    </div>
  </footer>

  <script src="{% static 'js/materialize.min.js' %}"></script>
  <script>
    M.AutoInit();
    var editor = new MediumEditor('.editable', {
        placeholder: false
    });
  </script>
</body>
</html>