<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Lesson Planner {% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <!-- Materialize CSS -->
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/materialize.css' %}">
  <!-- Custom styles -->
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/styles.css' %}">
  <!-- Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  {% block head %}{% endblock %}
</head>
<body>
   
  <nav>
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'lessons:lesson_list' %}">Lessons</a></li>
      <li><a href="{% url 'lessons:tag_list' %}">Tags</a></li>
      <li><a href="{% url 'lessons:book_list' %}">Books</a></li>
      <li><a href="{% url 'games' %}">Games</a></li>
      <li><a href="{% url 'about' %}">About</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'lessons:by_user' username=user.username %}">My Lessons</a></li>
        <li><a href="{% url 'lessons:create' %}">Add Lesson Plan</a></li>
        <li><a href="{% url 'accounts:change_password' %}">Change Password</a></li>
        <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'accounts:login' %}">Login</a></li>
        <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
      {% endif %}
    </ul>
  </nav>

  <header class="center">
    {% block header %}
    {% endblock %}
  </header>

  <main class="container">
      {% block content %}{% endblock %}
  </main>

  <footer>
      
  </footer>
  <script src="{% static 'js/materialize.min.js' %}"></script>
  
  <script>
    M.AutoInit();
    var editor = new MediumEditor('.editable', {
        placeholder: false
    });
  </script>
</body>
</html>