{% extends "base.html" %}

{% block title %}- Home{% endblock %}

{% block header %}
  <h1 class="header-title">Online Games</h1>
{% endblock %}

{% block content %}
  <div class="games">
    Here are some games I built to use for ESL classes: 
    <ul>
      <li><a href="https://card-matching-game.herokuapp.com">Card Matching Game</a></li>
    </ul>

    Other online games:
    <ul>
      <li><a href="https://www.gamestolearnenglish.com/clothes-game/">He's/She's wearing (Clothes game)</a></li>
      <li><a href="https://www.abcya.com/games/pizza">Make a Pizza</a></li>
    </ul>
  </div>
{% endblock %}