{% extends 'base.html' %}

{% block title %}
  - Book: {{ book.title }}
{% endblock %}

{% block header %}
  <h1 class="header-title">Book: {{ book.title }}</h1>
{% endblock %}

{% block content %}
  <div class="book-detail">
    <ul>
      {% for lesson in book.lessons.all %}
        <li><a href="{% url 'lessons:lesson_detail' pk=lesson.id %}">{{ lesson.title }}</a></li>
      {% empty %}
        <p>No lessons from this book</p>
        {% if user.is_authenticated %}
          <p><a href="{% url 'lessons:create' %}">Create one</a></p>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endblock %}