<!-- Formatting help   -->
<div class="row formatting-help">
  <h4> <i class="material-icons">info</i> Formatting Help</h4>
  <p>ESL Lesson Planner uses Markdown for formatting. 
    See the <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">complete syntax</a>.
  </p>
  <!-- Header -->
  <a class="btn tooltipped grey darken-1" 
    data-position="bottom" 
    data-tooltip="# Header Title"
  >
    First Level Header
  </a>
  <!-- Paragraphs -->
  <a class="btn tooltipped grey darken-1" 
    data-position="bottom" 
    data-tooltip="Add two new lines to start a new paragraph."
  >
    Paragraphs
  </a>
  <!-- Bold -->
  <a class="btn tooltipped grey darken-1" 
    data-position="bottom" 
    data-tooltip="**In bold**"
  >
    Bold
  </a>
  <!-- italicized -->
  <a class="btn tooltipped grey darken-1" 
    data-position="bottom" 
    data-tooltip="*Italicized text*"
  >
    Italicized
  </a>
  <!-- ordered list -->
  <a class="btn tooltipped grey darken-1" 
    data-position="bottom" 
    data-tooltip="1. First item
    2. Second item"
  >
    Ordered list
  </a>
  <!-- unordered list -->
  <a class="btn tooltipped grey darken-1" 
    data-position="bottom" 
    data-tooltip="* First item 
    * Second item"
  >
    Unordered list
  </a>
  <!-- Links -->
  <a class="btn tooltipped grey darken-1" 
    data-position="bottom" 
    data-tooltip="[Link text](https://example.com/url-to-some-website.html)"
  >
    Links
  </a>
  <!-- Images -->
  <a class="btn tooltipped grey darken-1" 
    data-position="bottom" 
    data-tooltip="![Image Name](https://example.com/link-to-image.png)"
  >
    Images
  </a>
  <!-- Blockquotes -->
  <a class="btn tooltipped grey darken-1" 
    data-position="bottom" 
    data-tooltip="> Blockquote"
  >
    Blockquotes
  </a>
</div>