{% extends 'lessons/lesson_base.html' %}

{% block lesson_title %}- Update Lesson Plan {% endblock %}

{% block lesson_header %}
  Update Lesson Plan {{ lesson.title }}
{% endblock %}

{% block lesson_content %}
<div class="row">
    <form action="{% url 'lessons:update' pk=lesson.id %}" method="POST" class="col s12">
      {% csrf_token %}
      {{ form.non_field_errors }}

      {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
            <span class="helper-text" data-error="wrong" data-success="right">{{ error }}</span>
            {% endfor %}
        {% endfor %}
      {% endif %}
        
      <!-- title filed -->
      <div class="row">
        <div class="input-field col s12">
          {{ form.title.errors }}
          <label for="{{ form.title.id_for_label }}">{{ form.title.label }} *</label>
          {{ form.title }}
          <span class="helper-text" data-error="wrong" data-success="right">{{ form.title.help_text  }}</span>
        </div>
      </div>

      <!-- tags field & books field -->
      <div class="row">
        <div class="input-field col s6">
          {{ form.tags }}
          <label for="{{ form.tags.id_for_label }}">{{ form.tags.label }}</label>
        </div>
        <div class="input-field col s6">
          {{ form.book }}
          <label for="{{ form.book.id_for_label }}">{{ form.book.label }}</label>
        </div>
      </div>

      <!-- lesson number & lesson duration   -->
      <div class="row">
        <div class="input-field col s6">
          <label for="{{ form.lesson_number.id_for_label }}">{{ form.lesson_number.label }}</label>
          {{ form.lesson_number }}
          <span class="helper-text" data-error="wrong" data-success="right">{{ form.lesson_number.help_text  }}</span>
        </div>
        <div class="input-field col s6">
          <label for="{{ form.lesson_duration.id_for_label }}">{{ form.lesson_duration.label }}</label>
          {{ form.lesson_duration }}
          <span class="helper-text" data-error="wrong" data-success="right">{{ form.lesson_duration.help_text  }}</span>
        </div>
      </div>
      
      <!-- lesson objectives -->
      <div class="row">
        <div class=" input-field col s12 ">
          <textarea 
            name="{{ form.lesson_objectives.html_name }}"
            id="{{ form.lesson_objectives.id_for_label }}" 
            class="materialize-textarea">{{ form.lesson_objectives.value }}</textarea>
          <label for="{{ form.lesson_objectives.id_for_label }}">{{ form.lesson_objectives.label }}</label>
        </div>
      </div>

      <!-- resources -->
      <div class="row">
        <div class=" input-field col s12 ">
          <textarea 
            id="{{ form.resources.id_for_label }}" 
            class="materialize-textarea"
            name="{{ form.resources.html_name }}">{{ form.resources.value }}</textarea>
          <label for="{{ form.resources.id_for_label }}">{{ form.resources.label }}</label>
        </div>
      </div>

      <!-- content -->
      <div class="row">
        <div class=" input-field col s12 ">
          <textarea 
            id="{{ form.content.id_for_label }}" 
            class="materialize-textarea"
            name="{{ form.content.html_name }}">{{ form.content.value }}</textarea>
          <label for="{{ form.content.id_for_label }}">{{ form.content.label }} *</label>
        </div>
      </div>

      <!-- video url -->
      <div class="row">
        <div class=" input-field col s12 ">
          {{ form.video_url }}
          <label for="{{ form.video_url.id_for_label }}">{{ form.video_url.label }}</label>
        </div>
      </div>

      <input type="submit" class="btn" value="Update Lesson Plan">
    </form>
  </div>

  {% include 'lessons/formatting_help.html' %}
  
{% endblock %}