{% extends 'lessons/lesson_base.html' %}
{% load markdownify %}

{% block lesson_title %}- Lesson: {{ lesson.title }} {% endblock %}

{% block lesson_header %}
  Lesson: {{ lesson.title }} 
{% endblock %}

{% block lesson_content %}
  <div class="lesson-actions">
    {% if user.is_authenticated and user == lesson.author %}
      <div class="lesson-buttons center">
        {% if lesson.base %}
          <a class="waves-effect waves-light btn" href="{% url 'lessons:update_basic' pk=lesson.id %}">
            <i class="material-icons left">edit</i>Edit
          </a>
        {% elif lesson.arrow %}
          <a class="waves-effect waves-light btn" href="{% url 'lessons:update_arrow' pk=lesson.id %}">
            <i class="material-icons left">edit</i>Edit
          </a>
        {% elif lesson.boomerang %}
          <a class="waves-effect waves-light btn" href="{% url 'lessons:update_boomerang' pk=lesson.id %}">
            <i class="material-icons left">edit</i>Edit
          </a>
        {% elif lesson.patchwork %}
          <a class="waves-effect waves-light btn" href="{% url 'lessons:update_patchwork' pk=lesson.id %}">
            <i class="material-icons left">edit</i>Edit
          </a>
        {% endif %}
        <a class="waves-effect waves-light btn" href="{% url 'lessons:delete' pk=lesson.id %}">
            <i class="material-icons left">delete</i>Delete
        </a>
      </div>  
    {% endif %}
  </div>

  <h3>Information</h3>

  <ul class="collection z-depth-1">
    <li class="collection-item">
      <i class="material-icons left">account_circle</i>
      Author: <a href="{% url 'lessons:by_user' username=lesson.author.username %}">{{ lesson.author }}</a>
    </li>

    <li class="collection-item">
      <i class="material-icons left">date_range</i>
      {{ lesson.created_at }}
    </li>

    <li class="collection-item">
      <i class="material-icons left">local_offer</i>
      {% for tag in lesson.tags.all %}
        <span class="badge left blue">
          <a href="{% url 'lessons:tag_detail' slug=tag.slug %}" class="white-text">
            #{{ tag.name }}
          </a>
        </span>
        &nbsp;
      {% empty %}
        No tags
      {% endfor %}
    </li>

    <li class="collection-item">
      <i class="material-icons left">book</i>
      {% if lesson.book %}
        <a href="{% url 'lessons:book_detail' slug=lesson.book.slug %}">{{ lesson.book }}</a>
      {% else %}
        No book
      {% endif %}
    </li>

    <li class="collection-item">
      <i class="material-icons left">info</i>
      {% if lesson.book %}
        Lesson number: {{ lesson.lesson_number }}
      {% else %}
        Lesson number: -
      {% endif %}
    </li>

    <li class="collection-item">
      <i class="material-icons left">alarm</i>
      {% if lesson.book %}
        Lesson duration: {{ lesson.lesson_duration }} minutes.
      {% else %}
        Lesson duration: -
      {% endif %}
    </li>
  </ul>

  <div class="row">
    <div class="col s12 m6">
      <div class="card small">
        <div class="card-content">
          <span class="card-title">Lesson objectives</span>
          <p>{{ lesson.lesson_objectives|markdownify }}</p>
        </div>
      </div>
    </div>
    <div class="col s12 m6">
      <div class="card small">
        <div class="card-content">
          <span class="card-title">Lesson resources</span>
          <p>{{ lesson.resources|markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="lesson-content">
    <!-- if base lesson -->
    {% if lesson.base %}
      <h3>Content</h3>
      {{ lesson.content|markdownify }}
    <!-- if arrow lesson -->
    {% elif lesson.arrow %}
      {% include 'lessons/lesson_stages_arrow.html' %}
    <!-- if boomerang lesson -->
    {% elif lesson.boomerang %}
      {% include 'lessons/lesson_stages_boomerang.html' %}
    <!-- if patchwork lesson -->
    {% elif lesson.patchwork %}
      {% include 'lessons/lesson_stages_patchwork.html' %}
    {% endif %}
  </div>

  <div class="lesson-video">
    <h3>Video</h3>
    {% if lesson.embed_video_url %}
    <iframe width="640" 
      height="385"
      src="{{ lesson.embed_video_url }}"
      class="lesson-video-iframe">
    </iframe>
    {% else %}
      No video for this lesson.
    {% endif %}

  </div>
{% endblock %}