{% load markdownify %}
<h3>Lesson Stages</h3>
<ul class="collection">

  <!-- Engage  -->
  <li class="collection-item light-blue lighten-4">
    1. Engage <span class="new badge" data-badge-caption="mins">{{ lesson.engage_time }}</span>
  </li>
  <li class="collection-item">{{ lesson.engage_description|markdownify }}</li>

  <!-- Activate -->
  <li class="collection-item light-blue lighten-4">
    2. Activate<span class="new badge" data-badge-caption="mins">{{ lesson.activate_time }}</span>
  </li>
  <li class="collection-item">{{ lesson.activate_description|markdownify }}</li>
  
  <!-- Review -->
  <li class="collection-item light-blue lighten-4">
    3. Review <span class="new badge" data-badge-caption="mins">{{ lesson.review_time }}</span>
  </li>
  <li class="collection-item">{{ lesson.review_description|markdownify }}</li>

  <!-- Study -->
  <li class="collection-item light-blue lighten-4">
    4. Study<span class="new badge" data-badge-caption="mins">{{ lesson.study_time }}</span>
  </li>
  <li class="collection-item">{{ lesson.study_description|markdownify }}</li>

  <!-- Activate -->
  <li class="collection-item light-blue lighten-4">
    5. Activate 2<span class="new badge" data-badge-caption="mins">{{ lesson.activate_time2 }}</span>
  </li>
  <li class="collection-item">{{ lesson.activate_description2|markdownify }}</li>

  <!-- Wrap Up -->
  <li class="collection-item light-blue lighten-4">
    6. Wrap Up<span class="new badge" data-badge-caption="mins">{{ lesson.wrap_up_time }}</span>
  </li>
  <li class="collection-item">{{ lesson.wrap_up_description|markdownify }}</li>
</ul>