{% extends 'lessons/lesson_base.html' %}

{% block head %}{% endblock %}

{% block lesson_title %}- New Lesson Plan {% endblock %}

{% block lesson_header %}
  New ESA Boomerang Lesson Plan
{% endblock %}

{% block lesson_content %}
  <div class="row">
    <form action="{% url 'lessons:create_boomerang' %}" method="POST" class="col s12">
      {% csrf_token %}
      {{ form.non_field_errors }}

      {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
            <span class="helper-text" data-error="wrong" data-success="right">{{ error }}</span>
            {% endfor %}
        {% endfor %}
      {% endif %}
      
      <!-- title filed -->
      <div class="row">
        <div class="input-field col s12">
          {{ form.title.errors }}
          <label for="{{ form.title.id_for_label }}">{{ form.title.label }} *</label>
          {{ form.title }}
          <span class="helper-text" data-error="wrong" data-success="right">{{ form.title.help_text  }}</span>
        </div>
      </div>

      <!-- tags field & books field -->
      <div class="row">
        <div class="input-field col s6">
          {{ form.tags }}
          <label for="{{ form.tags.id_for_label }}">{{ form.tags.label }}</label>
        </div>
        <div class="input-field col s6">
          {{ form.book }}
          <label for="{{ form.book.id_for_label }}">{{ form.book.label }}</label>
        </div>
      </div>

      <!-- lesson number & lesson duration   -->
      <div class="row">
        <div class="input-field col s6">
          <label for="{{ form.lesson_number.id_for_label }}">{{ form.lesson_number.label }}</label>
          {{ form.lesson_number }}
          <span class="helper-text" data-error="wrong" data-success="right">{{ form.lesson_number.help_text  }}</span>
        </div>
        <div class="input-field col s6">
          <label for="{{ form.lesson_duration.id_for_label }}">{{ form.lesson_duration.label }}</label>
          {{ form.lesson_duration }}
          <span class="helper-text" data-error="wrong" data-success="right">{{ form.lesson_duration.help_text  }}</span>
        </div>
      </div>
      
      <!-- lesson objectives -->
      <div class="row">
        <div class=" input-field col s12 ">
          <textarea 
            name="{{ form.lesson_objectives.html_name }}"
            id="{{ form.lesson_objectives.id_for_label }}" 
            class="materialize-textarea">{{ form.lesson_objectives.value }}</textarea>
          <label for="{{ form.lesson_objectives.id_for_label }}">{{ form.lesson_objectives.label }}</label>
        </div>
      </div>

      <!-- resources -->
      <div class="row">
        <div class=" input-field col s12 ">
          <textarea 
            id="{{ form.resources.id_for_label }}" 
            class="materialize-textarea"
            name="{{ form.resources.html_name }}">{{ form.resources.value }}</textarea>
          <label for="{{ form.resources.id_for_label }}">{{ form.resources.label }}</label>
        </div>
      </div>

      <!-- Engage -->
      <div class="row">
        <div class="input-field col s12 m6 center"><h5>1. Engage stage</h5></div>
        <div class="input-field col s12 m6">
          <label for="{{ form.engage_time.id_for_label }}">{{ form.engage_time.label }}</label>
          {{ form.engage_time }}
          <span class="helper-text" data-error="wrong" data-success="right">
            {{ form.engage_time.help_text  }}
          </span>
        </div>
        <div class="input-field col s12">
          <textarea 
            id="{{ form.engage_description.id_for_label }}" 
            class="materialize-textarea"
            name="{{ form.engage_description.html_name }}">{{ form.engage_description.value }}</textarea>
          <label for="{{ form.engage_description.id_for_label }}">{{ form.engage_description.label }}</label>
        </div>
      </div>

      <!-- Activate -->
      <div class="row">
        <div class="input-field col s12 m6 center"><h5>2. Activate stage</h5></div>
        <div class="input-field col s12 m6">
          <label for="{{ form.activate_time.id_for_label }}">{{ form.activate_time.label }}</label>
          {{ form.activate_time }}
          <span class="helper-text" data-error="wrong" data-success="right">
            {{ form.activate_time.help_text  }}
          </span>
        </div>
        <div class="input-field col s12">
          <textarea 
            id="{{ form.activate_description.id_for_label }}" 
            class="materialize-textarea"
            name="{{ form.activate_description.html_name }}">{{ form.activate_description.value }}</textarea>
          <label for="{{ form.activate_description.id_for_label }}">{{ form.activate_description.label }}</label>
        </div>
      </div>

      <!-- Review -->
      <div class="row">
        <div class="input-field col s12 m6 center"><h5>3. Review stage</h5></div>
        <div class="input-field col s12 m6">
          <label for="{{ form.review_time.id_for_label }}">{{ form.review_time.label }}</label>
          {{ form.review_time }}
          <span class="helper-text" data-error="wrong" data-success="right">
            {{ form.review_time.help_text  }}
          </span>
        </div>
        <div class="input-field col s12">
          <textarea 
            id="{{ form.review_description.id_for_label }}" 
            class="materialize-textarea"
            name="{{ form.review_description.html_name }}">{{ form.review_description.value }}</textarea>
          <label for="{{ form.review_description.id_for_label }}">{{ form.review_description.label }}</label>
        </div>
      </div>

      <!-- Study -->
      <div class="row">
        <div class="input-field col s12 m6 center"><h5>4. Study stage</h5></div>
        <div class="input-field col s12 m6">
          <label for="{{ form.study_time.id_for_label }}">{{ form.study_time.label }}</label>
          {{ form.study_time }}
          <span class="helper-text" data-error="wrong" data-success="right">
            {{ form.study_time.help_text  }}
          </span>
        </div>
        <div class="input-field col s12">
          <textarea 
            id="{{ form.study_description.id_for_label }}" 
            class="materialize-textarea"
            name="{{ form.study_description.html_name }}">{{ form.study_description.value }}</textarea>
          <label for="{{ form.study_description.id_for_label }}">{{ form.study_description.label }}</label>
        </div>
      </div>

      <!-- Activate 2 -->
      <div class="row">
        <div class="input-field col s12 m6 center"><h5>5. Activate 2 stage</h5></div>
        <div class="input-field col s12 m6">
          <label for="{{ form.activate_time2.id_for_label }}">{{ form.activate_time2.label }}</label>
          {{ form.activate_time2 }}
          <span class="helper-text" data-error="wrong" data-success="right">
            {{ form.activate_time2.help_text  }}
          </span>
        </div>
        <div class="input-field col s12">
          <textarea 
            id="{{ form.activate_description2.id_for_label }}" 
            class="materialize-textarea"
            name="{{ form.activate_description2.html_name }}">{{ form.activate_description2.value }}</textarea>
          <label for="{{ form.activate_description2.id_for_label }}">{{ form.activate_description2.label }}</label>
        </div>
      </div>

      <!-- Wrap up -->
      <div class="row">
        <div class="input-field col s12 m6 center"><h5>6. Wrap up stage</h5></div>
        <div class="input-field col s12 m6">
          <label for="{{ form.wrap_up_time.id_for_label }}">{{ form.wrap_up_time.label }}</label>
          {{ form.wrap_up_time }}
          <span class="helper-text" data-error="wrong" data-success="right">
            {{ form.wrap_up_time.help_text  }}
          </span>
        </div>
        <div class="input-field col s12">
          <textarea 
            id="{{ form.wrap_up_description.id_for_label }}" 
            class="materialize-textarea"
            name="{{ form.wrap_up_description.html_name }}">{{ form.wrap_up_description.value }}</textarea>
          <label for="{{ form.wrap_up_description.id_for_label }}">{{ form.wrap_up_description.label }}</label>
        </div>
      </div>

      <!-- video url -->
      <div class="row">
        <div class=" input-field col s12 ">
          {{ form.video_url }}
          <label for="{{ form.video_url.id_for_label }}">{{ form.video_url.label }}</label>
        </div>
      </div>

      <input type="submit" class="btn" value="Add Lesson Plan">
    </form>
  </div>

  {% include 'lessons/formatting_help.html' %}
  
{% endblock %}