{% extends 'base.html' %}

{% block title %}
  - Tag: {{ tag.name }}
{% endblock %}

{% block header %}
  <h1 class="header-title">Lesson with tag: {{ tag.name }}</h1>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <ul class="collection">
        {% for lesson in tag.lessons.all %}
          <a href="{% url 'lessons:lesson_detail' pk=lesson.id %}" class="collection-item">{{ lesson.title }}</a>
        {% empty %}
          <li class="collection-item">No lessons with this tag.</li>
        {% endfor %}
        <a href="{% url 'lessons:tag_list' %}" class="collection-item">All tags >></a>
      </ul>
    </div>
  </div>
{% endblock %}