{% extends 'base.html' %}

{% block title %}
  - All Tags
{% endblock %}

{% block header %}
  <h1 class="header-title">All Tags</h1>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col s12">
      <ul class="collection">
          {% for tag in tag_list %}
          <a href="{% url 'lessons:tag_detail' slug=tag.slug %}" class="collection-item">{{ tag.name }}</a>
        {% empty %}
          <li class="collection-item">No tags yet.</li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}